<!--
날짜 : 2023/03/16
이름 : 김동근
내용 : 포트폴리오01 HTML point
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
		<meta charset="UTF-8">
        <th:block th:replace="~{_config :: indexConfigFragment}"></th:block>
        <!-- 스프링 시큐리티 csrf token 누락 -->
	    <meta name="_csrf_header" th:content="${_csrf.headerName}">
		<meta name="_csrf" th:content="${_csrf.token}">
		<!-- 스프링 시큐리티 csrf token 누락 -->
        <!-- Private index, headfoot settings -->
        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@300&family=Quicksand:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
        <!-- library -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <!-- css -->
        <link rel="stylesheet" th:href="@{/css/myshop/init.css}">
        <link rel="stylesheet" th:href="@{/css/myshop/myPage.css}">
        <link rel="stylesheet" th:href="@{/css/myshop/point.css}">
        <!-- js -->
        <script th:src="@{/js/myshop/myshop.js}"></script>
        <script th:src="@{/js/myshop/point.js}"></script>
        
        <title>Point</title>
    </head>
    <body>
        <div id="wrap">
            <!-- 헤더 -->
            <th:block th:replace="~{_header :: headerFragment}"></th:block>
            
            <!-- 메인 -->
            <main>
                <div class="mainBackgorund">
                    <div class="mainContent">
                        <!-- 콘텐츠 -->
                        <section class="myContent">
                        	<!-- 마이페이지 메뉴-->
	                        <th:block th:replace="~{myshop/_mymenu :: mymenuFragment}"></th:block>
	                        
	                        <!-- 회원정보 -->
							<th:block th:replace="~{myshop/_mymenu :: myheadFragment}"></th:block>
							
                            <!-- 포인트 -->
                            <div class="pointFrame">
                                <!-- 안내 정보 -->
                                <ul class="deliInfo">
                                    <li>포인트는 1년 동안 유지됩니다.</li>
                                    <li>부당한 방법으로 포인트를 취한 경우 이용이 제한 될 수 있습니다.</li>
                                </ul>
                                <!-- 기간 선택 -->
                                <div class="byDate">
                                    <div class="dateBtns">
                                        <input type="radio" id="1month" name="chkDate" value="1month" checked="checked">
                                        <label for="1month">1개월</label>
                                        
                                        <input type="radio" id="6month" name="chkDate" value="6month">
                                        <label for="6month">6개월</label>
                                        
                                        <input type="radio" id="1year" 	name="chkDate" value="1year">
                                        <label for="1year">1년</label>
                                    </div>
                                    <div class="datePeriod">
                                        <input type="date">
                                        ~
                                        <input type="date">
                                        <button type="button" class="btn">조회</button>
                                    </div>
                                </div>

                                <!-- 포인트 내역 -->
                                <div class="pointList">
                                    <table class="">
                                        <thead>
                                            <tr>
                                                <th>주문일자</th>
                                                <th>구분</th>
                                                <th>주문번호</th>
                                                <th>금액</th>
                                                <th>비고</th>
                                                <th>유효기간</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <!-- 아이템 반복 -->
                                        <tr>
                                            <td id="ordDate">2023-03-14</td>
                                            <td>적립</td>
                                            <td>
                                                <a href="#" id="ordNo">202012281222560001</a>
                                            </td>
                                            <td>
                                                <span id="point">650</span>
                                            </td>
                                            <td id="descript">상품 구매확정</td>
                                            <td>2024-03-14</td>
                                        </tr>
                                        <!-- 아이템 반복 종료 -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="center">
                                    <div class="pagination">
                                        <a class="firstPage" 	href="#">&laquo;</a>
                                        <a class="prevPage" 	href="#">&lsaquo;</a>
                                        
                                            <a href="#" class="active">1</a>
                                        
                                        <a class="nextPage" 	href="#">&rsaquo;</a>
                                        <a class="lastPage" 	href="#">&raquo;</a>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
            </main>

            <!-- 푸터 -->
            <th:block th:replace="~{_footer :: footerFragment}"></th:block>
        </div>
    </body>
</html>