.블랙 {
    background-color: #000000;
}
.네이비 {
    background-color: #000080;
}
.다크그레이 {
    background-color: #A9A9A9;
}
.그레이 {
    background-color: #808080;
}
.라이트그레이 {
    background-color: #D3D3D3;
}
.블루 {
    background-color: #0000FF;
}
.스카이블루 {
    background-color: #87CEEB;
}
.다크레드 {
    background-color: #8B0000;
}
.레드 {
    background-color: #FF0000;
}
.코랄 {
    background-color: #FF7F50;
}
.핫핑크 {
    background-color: #FF69B4;
}
.핑크 {
    background-color: #FFC0CB;
}
.라이트핑크 {
    background-color: #FFB6C1;
}
.옐로우 {
    background-color: #FFFF00;
}
.골드 {
    background-color: #FFD700;
}
.오렌지 {
    background-color: #FFA500;
}
.브라운 {
    background-color: #A52A2A;
}
.카키 {
    background-color: #F0E68C;
}
.다크그린 {
    background-color: #006400;
}
.그린 {
    background-color: #008000;
}
.올리브{
    background-color: #808000;
}
.퍼플 {
    background-color: #800080;
}
.바이올렛 {
    background-color: #EE82EE;
}
.라벤더 {
    background-color: #E6E6FA;
}
.베이지 {
    background-color: #F5F5DC;
}
.아이보리 {
    background-color: #FFFFF0;
}
.실버 {
    background-color: #C0C0C0;
}
.화이트 {
    background-color: #FFFFFF;
}