/*메인*/
main {
    width: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    width: 100%;
    height: 680px;
}
.banner1 {
    background: url("../img/MainBanner1.jpg") no-repeat;
    background-size: cover;
}
.banner2 {
    background: url("../img/MainBanner2.jpg") no-repeat;
    background-size: cover;
}
.banner3 {
    background: url("../img/MainBanner3.jpg") no-repeat;
    background-size: cover;
}
.banner4 {
    background: url("../img/MainBanner4.jpg") no-repeat;
    background-size: cover;
}
.banner5 {
    background: url("../img/MainBanner5.jpg") no-repeat;
    background-size: cover;
}
.banner6 {
    background: url("../img/MainBanner6.jpg") no-repeat;
    background-size: cover;
}
.swiper-pagination-bullet-active {background: #fff;}
main > section {
    width: 1520px;
    height: auto;
    margin: 50px auto;
    overflow: hidden;
    text-align: center;
}
main > article {
    width: 100%;
    height: 1000px;
    margin-top: 100px;
    background: #faf6f4;
    text-align: center;
    padding: 30px 0;
}
main > article > span {
    display: inline-block;
    width: 100%;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
main > article > div.swiper {
    display: inline-block;
    width: 1400px;
    height: 950px;
    padding-top: 60px;
    overflow: hidden;
}
main > article > div.swiper .swiper-slide > ul {
    overflow: hidden;
    width: 1200px;
    padding-left: 10px;
    margin: 0 auto;
}
main > article > div.swiper .swiper-slide > ul > li > .bestItem {
    float: left;
    width: 24%; 
    height: 400px;
    margin: 0 5px;
    background: #999;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}
main > article > div.swiper .swiper-slide > ul > li > .bestItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100;
}
main > article > div.swiper .swiper-slide > ul > li > .bestItem .bestDescript {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 150px;
    background: rgba(255,255,255,0.8);
    z-index: 100;
    text-align: left;
    padding: 10px 30px;
    box-sizing: border-box;
    overflow: hidden;
    transition: all .3s ease-out;
}
main > article > div.swiper .swiper-slide > ul > li > .bestItem:hover .bestDescript {
	top: 250px;
}
main > article > div.swiper .swiper-slide > ul > li > .bestItem .bestDescript > span {
	border: none;
}
main > article > div.swiper .swiper-pagination {top: 0px; height: 25px;}
main > article > div.swiper .swiper-pagination-bullet {
    width: 100px;
    display: inline-block;
    height: 22px;
    font-size: 12px;
    font-weight: bold;
    background: none;
    border-radius: 0px;
}
main > article > div.swiper .swiper-pagination-bullet-active > span {padding-bottom: 5px; border-bottom: 2px solid #edd4c7;}
main > article > div.swiper > .swiper-button-prev {color: #999; margin-left: 20px; margin-top: -40px;}
main > article > div.swiper > .swiper-button-next {color: #999; margin-right: 20px; margin-top: -40px;}
main > section > div > div {
    display: inline-block;
    width: 23%;
    height: 500px;
    margin: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;
}
main > section > span {
    display: inline-block;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 13px;
    margin-bottom: 40px;
}
.product > a > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.product > span {
    display: inline-block; 
    text-align: left;
}
.colorCodeBox {
	text-align: left;
	margin-top: 10px;
}
.colorCode {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #d3d3d3;
}
.name {
    display: inline-block; 
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 0;
    margin-bottom: 6px;
    color: #212121;
    border-bottom: 1px solid #e5e5e5;
}
.oriPrice {
    font-size: 14px;
    font-weight: bold;
    color: #999; 
    text-decoration: line-through;
}
.price {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}
.bestDescript > .discount {float: left;}
.discount {
	float: right;
    font-size: 16px;
    font-weight: bold;
    color: crimson;
    margin-left: 10px; 
}
.descript {
    font-size: 12px;
    color: #999;
    margin-top: 6px;
    white-space: pre-wrap;
}
.advertise {
	height: 170px;
	background: #fff;
	margin: 30px 0;
}