* {
    margin: 0;
    padding: 0;
}
ul, ol {list-style: none;}
a {text-decoration: none; color: black;}
#wrap {width: 100%; height: auto}
.btn {
    display: inline-block;
    color: #4f4f4f;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: rgb(79,79,79);
    border-color: rgba(79,79,79,0.2);
    border-radius: 0px;
    background-color: #fff;
    padding: 4px 8px;
    margin: 3px;
}
.disnone {
    display: none;
}