ul, ol {
    list-style: none;
    -webkit-padding-start: 0px;
}
/* myorder */
.myContent > div.myorderFrame {
    width: 1000px;
}

/* myorder - orderList */
/* 안내정보 */
div.myorderFrame > ul.deliInfo {
    line-height: 1.5;
    font-size: 14px;
}
div.myorderFrame > ul.deliInfo > li {
    color: #777777;
    padding-left: 8px;
    position: relative;
    line-height: 1.5;
    font-weight: bold;
}
div.myorderFrame > ul.deliInfo > li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.6em;
    width: 3px;
    height: 3px;
    background: #777777;
    border-radius: 100%;
}

/* 기간 선택 */
div.myorderFrame > div.byDate {
    margin: 30px 0;
}
div.myorderFrame > div.byDate > div.dateBtns {
    display: inline-block;
}
div.myorderFrame > div.byDate > div.datePeriod {
    display: inline-block;
    margin-left: 30px;
}
div.myorderFrame > div.byDate > div.datePeriod > input[type=date] {
    height: 30px;
    text-align: center;
    border: 1px solid #e5e7eb;
}
div.myorderFrame > div.byDate > div.datePeriod > .btn {
    width: 60px;
    height: 30px;
    background-color: #333;
    color: white;
}

div.myorderFrame > div.byDate input[type=radio] {
    display: none;
} 

div.myorderFrame > div.byDate input[type=radio]+label {
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 30px;
    font-size:14px;
    font-weight:bold;
    text-align: center;
    line-height: 30px;
    border: 1px solid #e5e7eb;
}

div.myorderFrame > div.byDate input[type=radio]:checked+label{
    border-color: #777;
}


/* 아이템 반복 */
div.myorderFrame > div.orderList > table {
    width: 1000px;
    border-collapse: collapse;
    border-spacing: 0;
}

div.myorderFrame > div.orderList > table th {
    height: 50px;
    font-size: 16px;
    border: 1px solid #999;
    border-left: 0;
    border-right: 0;
}

div.myorderFrame > div.orderList > table td {
	width: 12.5%;
    height: 70px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    word-break: break-all;
    padding: 5px;
    border-bottom: 1px solid #e5e7eb;
    box-sizing: border-box;
}

div.myorderFrame > div.orderList > table td:nth-child(4) {
    font-weight: bold;
}
div.myorderFrame > div.orderList > table td:first-child {
	width:50%;
}

div.myorderFrame > div.orderList > table td:first-child > div {
    display: table;
    text-align: left;
}
div.myorderFrame > div.orderList > table td:first-child > div > a {
    display: table-cell;
    width: 80px;
}
div.myorderFrame > div.orderList > table td:first-child > div > a > img {
    width: 80px;
    height: 80px;
}
div.myorderFrame > div.orderList > table td:first-child > div > ul {
    display: table-cell;
    padding-left: 10px;
    vertical-align: top;
}
div.myorderFrame > div.orderList > table td:first-child > div > ul > li#company {
    display: block;
    color: #777777;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 15px;
}
div.myorderFrame > div.orderList > table td:first-child > div > ul > li#prodName {
    display: block;
    width: 400px;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.myorderFrame > div.orderList > table td:first-child > div > ul > li#option {
    font-size: 13px;
    font-weight: bold;
    color: #666666;
}
div.myorderFrame > div.orderList > table td #count {
    color: #999;
}

div.myorderFrame > div.orderList > table td:last-child > div > button {
    padding: 3px 6px;
    margin: 2px 0;
}
div.myorderFrame > div.orderList > table td:last-child > div > .btnReview {
	border-color: pink;
	background-color: #fff5f6; 
}


/* 페이지 */
.center {
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
}
.pagination {
	display: inline-block;
	font-size: 15px;
	margin-top: 100px;
}

.pagination a {
color: black;
float: left;
padding: 8px 10px;
text-decoration: none;
}

.pagination a.active {
background-color: #bdc2bd;
color: white;
border-radius: 5px;
}

.pagination a:hover:not(.active) {background-color: #ddd; border-radius: 5px;}